html,
body {
  font: normal 16px/1.2 "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
  text-shadow: 1px 1px #000;
  background: url(../img/winter.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
}

.info-box {
  background-color: rgba(0, 0, 0, 0.5);
}

h1,
h2 {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

ul.social-network {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  margin: 0;
  justify-content: center;
  flex-direction: row;
}

ul.social-network li {
  margin: 10px;
}

ul > li {
  list-style: none;
  -webkit-animation: fadein 2s;
  -ms-animation: fadein 2s;
  animation: fadein 2s;
}

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoGithub:hover {
  background-color: #000000;
}

.social-network a.icoCollege:hover {
  background-color: #f36e21;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-circle li a {
  box-shadow: 0px 0px 5px #ffffff;
  display: inline-block;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 390px) {
  h1 {
    font-size: 5em;
  }
}

/* Support for IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html,
  body {
    background: url(../img/winter.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

/* Support for Safari */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    html,
    body {
      background: url(../img/winter.jpg) no-repeat center center fixed;
      background-size: cover;
    }
  }
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  font-display: 'swap';
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v8-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  font-display: 'swap';
}